# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#vs
*.user
*.log
*.idb
*.filters
src/ise-cs-bayer-ci/.vs
src/ise-cs-bayer-ci/cpp-demo/Debug/
src/ise-cs-bayer-ci/cpp-demo/Release/
src/ise-cs-bayer-ci/cpp-demo/x86/
src/ise-cs-bayer-ci/cpp-demo/x64/
src/Debug
src/Release
src/x64
src/x86

